footer {
    background-color: #000;
    min-height: 200px;
}
.footer__inner {
    padding: 5px 0 30px 0;
    position: relative;
 }
.footer__social {
    margin: 24px 0;
    padding: 0;
    font-size: 27px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
    text-align: center;
  }
  .footer__social li {
    display: inline-block;
    margin: 0 25px;
    padding: 0;
  }
  .footer__social .fa {
    color: #525252;
    transition: all 0.3s ease-in-out;
  }
  .footer__social .fa:hover {
    color: #ffffff;
  }
  .footer__arrow-up {
    background-color: #525252;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
  }
  .footer__arrow-up:hover {
    background-color: #11ABB0;
   
  }
  .footer__arrow-up::after {
    content: "\e904";
    font-family: 'icomoon' !important;
    font-size: 22px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 13px;
    left: 19px;
    color: #fff;
  }
  .fotter__copy {
    text-align: center;
    color: #303030;
    transition: all .5s ease-in-out;
  }
  .fotter__copy:hover {
    color: #fff;
    transition: all .5s ease-in-out;
  }